/*公共样式*/
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  /* 定义亮色模式下的 CSS 变量 */
  --bg-color: white;
  --text-color: black;
  --border-color: gray;
  --title-placeholder-color: #CCCCCC;
  --title-content-color: #333333;
  --title-font-size: 24PX;
  --content-placeholder-color: #CCCCCC;
  --content-content-color: #333333;
  --content-font-size: 0.45rem;
  --html-width: min(540PX, 100vw);
  --html-font-size: 45px;
}

.dark-mode {
  /* 定义暗黑模式下对应的 CSS 变量 */
  /* --bg-color: black;
  --text-color: white;
  --border-color: #444; */
}

html {
  overflow: auto;
  font-size: var(--html-font-size);
  -webkit-overflow-scrolling: touch;

}

#root {
  overflow: auto;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.contentPlaceholderClass {
  font-size: var(--content-font-size);
  color: var(--content-placeholder-color);
}

.titlePlaceholderClass {
  font-size: var(--title-font-size);
  color: var(--title-placeholder-color);
}


.ProseMirror {
  border: none !important;
}

.ProseMirror:focus {
  outline: none;
}

/*下面是content样式*/

/* .contentWrapper .tiptap p.is-content-empty:first-child::before {
  color: var(--content-placeholder-color);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-size: var(--content-font-size);
} */

.contentWrapper {
  flex-grow: 1; 
  counter-reset: h1-decimal;
}

.contentWrapper .ProseMirror {
  /* flex-grow: 1; */
  min-height: 100px;
  padding-bottom: 50px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.contentWrapper .ProseMirror p {
  font-size: var(--content-font-size);
}

.contentWrapper .customImage {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  background-color: #efefef;
}

.contentWrapper .imageContainer {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  _webkit-user-select: none;
}

.contentWrapper .imageContainerTextarea {
  width: 100%;
  border: none;
  resize: none;
  margin-top: 8px;
  color: #999;
  font-size: .32rem;
  line-height: .42667rem;
  text-align: center;
}

.contentWrapper .textarea-wrapper {
  position: relative;
  width: 100%;
  padding: 8px;
}

.contentWrapper .textarea-wrapper textarea {
  width: 100%;
  height: 100px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ProseMirror-selectednode {
  outline: 2px solid #1976d2;
  /* 或其它高亮样式 */
}

.contentWrapper h1 {
  color: #222;
  font-size: var(--html-h1-font-size);
  position: relative;
  font-weight: 700;
  font-style: normal;
}

.contentWrapper h1.pgc-h1-arrow-right::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  margin-right: 20px;
  /* background-position-y: 7px; */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABb0lEQVRoQ+2XwW2DQBBFvSAhji6BdEAJSQdpwSfg5nSQlJATAg4kFYQO7A6SElwCRyQkyGBxsKLIa+vvDEIarsvOzv9v+CvMZuWPWXn/GxWwNEEloARAB3SEQAPh7UoAthAsoARAA+HtSqCu623Xdc+e57XDMPxkWXaCbb2jAEQgz/OIGj/QedF85tT8a5Ikn3f0AL0KCSjL8nscx/hvB77vf/R9/yZBAxJQFMV4xT4RGpwCztq4abAL4P42pASw0RAVcEHjhZKqgeJn3ryEgPPRdGc8UUodURGLCaD4fU/TdK8CEAcs98DV0jRCDy4uOvERMsa0ND67tX7ETRAEO3pahPzlXhECrl2XFuDcdREBnK47E1BV1YHS5PGfeWZ13ZkA+h+IKVG+qGA0FZVy3ZmAqdD8VxYTiW0Yho3LhLklqaAUuuUA7ndUALfDtvpKwOYQ97oS4HbYVl8J2BziXlcC3A7b6isBm0Pc66sn8AtfpqYx2LnZFgAAAABJRU5ErkJggg==');
}

.contentWrapper h1.pgc-h1-center-line {
  text-align: center;
  margin-bottom: .72rem;
}

.contentWrapper h1.pgc-h1-center-line::after {
  content: "";
  width: .53rem;
  height: .053rem;
  bottom: -.213rem;
  position: absolute;
  background-color: #ff5d5d;
  left: 50%;
  transform: translateX(-50%);

}

.contentWrapper h1.pgc-h1-decimal {
  counter-increment: h1-decimal;
  position: relative;
}

.contentWrapper h1.pgc-h1-decimal::before {
  content: counter(h1-decimal) ".";
  display: inline;
  font-size: 18px;
  margin-right: .26rem;
  border: none;
  border-bottom: .053rem solid #ff5d5d;
}


/* .titleWrapper .tiptap p.is-content-empty:first-child::before {
  color: var(--title-placeholder-color);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-size: var(--title-font-size);
} */

/*下面是title样式*/

.titleWithPromptWrapper {
  display: flex;
  flex-direction: column;
  padding: .32rem 16PX 18PX 16PX;
}

.titleWithPromptWrapper .promptBox {
  color: #ff5d5d;
  font-size: .37333rem;
  line-height: .42667rem;
  margin: 4PX 0 0;
}

.titleWrapper .ProseMirror {
  font-size: var(--title-font-size);

}

.titleWrapper {}

/* 1. 灰色背景引用 */
.contentWrapper blockquote.quote-bg {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 16px 16px 16px 16px;
  color: #555;
  position: relative;
}

/* 2. 左侧竖杠引用 */
.contentWrapper blockquote.quote-bar {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 16px 16px 16px 32px;
  margin: 16px 0;
  color: #555;
  position: relative;
}
.contentWrapper blockquote.quote-bar::before {
  content: "";
  display: block;
  position: absolute;
  left: 12px;
  top: 16px;
  bottom: 16px;
  width: 4px;
  border-radius: 2px;
  background: #ff5d5d;
}

/* 3. 大双引号引用 */
.contentWrapper blockquote.quote-image {
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;  
  position: relative;
}
.contentWrapper blockquote.quote-image::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  z-index: -100;
  margin-right: 8px;
  /* background: #d8d8d8; */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguNDA0IDRjLjIzNy4zMi44MDggMS4wMzQgMS43MTMgMi4xNDItMi4wMDggMS45ODItMy4wNDkgMy45MzYtMy4xMjMgNS44NjVIMTFWMjBIM3YtNy45OTNsLjAwNy0uMDAxLjAyNC0uMjQ0QzMuMzc5IDguNjUyIDUuMTcgNi4wNjUgOC40MDQgNHptMTAgMGMuMjM3LjMyLjgwOCAxLjAzNCAxLjcxMyAyLjE0Mi0yLjAwOCAxLjk4Mi0zLjA0OSAzLjkzNi0zLjEyMyA1Ljg2NUgyMVYyMGgtOHYtNy44NjhhNy4wMzcgNy4wMzcgMCAwMS0uMDA4LS4wMWwuMDA4LS4wODV2LS4wM2wuMDAzLS4wMDEuMDItLjIxYy4zNTMtMy4xMzMgMi4xNDctNS43MzEgNS4zOC03Ljc5NnoiIGZpbGw9IiNGMkYyRjIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  margin-top: -30px;
}

/* 无序列表样式（点） */
.contentWrapper ul.pgc-bullet-list {
  list-style-type: disc;
  padding-left: 1rem;
  margin: 16px 0;
}
.contentWrapper ul.pgc-bullet-list li {
  position: relative;
  font-size: var(--content-font-size);
  margin-bottom: 8px;
}

.contentWrapper ol.pgc-ordered-list {
  list-style: decimal;
  margin: 16px 0;
  padding-left: 1rem;
}

.contentWrapper ol.pgc-ordered-list li {
  font-size: var(--content-font-size);
  margin-bottom: 8px;
}

.contentWrapper ol.pgc-ordered-list li::marker {
  color: #ff5d5d;
  font-weight: bold;
  font-size: 1em;
}